.container-axies .card{
    background-color: #462D17 !important;
}

.container-axies .card-header h3{
    font-family: 'Roboto Slab', serif;
    color: wheat;
}

.App-axie{
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vw;
}

.container-axies .card-footer button{
    background-color: wheat;
    font-family: 'Roboto Slab', serif;
    color: #462D17;
}