.calculator-section .card{
    background-color: #462D17 !important;
}

.calculator-section .card-header h3{
    font-family: 'Roboto Slab', serif;
    color: wheat;
    cursor: default;
    font-size: 1.4rem !important;
}

.calculator-section .card-body button,
.calculator-section .card-footer select,
.calculator-section .card-footer option{
    font-family: 'Roboto Slab', serif;
}
.calculator-section .card-body button,
.calculator-section .card-footer select,
.calculator-section .card-footer option{
    color: #462D17;
    background-color: wheat;
}

/*======================= media_query =======================*/
@media (max-width: 500px) {
    .calculator-section,
    .card-axies{width: 90vw;}

    .App-axie{height: 25vw;}

    .card-axies{margin-bottom: 5%;}
}
@media (min-width: 500px) {
    .calculator-section,
    .card-axies{width: 90vw;}

    .App-axie{height: 25vw;}

    .card-axies{margin-bottom: 5%;}
}
@media (min-width: 768px) {
    .calculator-section,
    .card-axies{width: 60vw;}
    
}
@media (min-width: 992px) {
    .calculator-section,
    .card-axies{width: 45vw;}
}
@media (min-width: 1200px) {
    .calculator-section,
    .card-axies{width: 30vw;}

    .calculator-section .card-body button,
    .calculator-section .card-footer select{
        font-size:1vw !important;
    }

    .cards-left-section img,
    .cards-right-section img {
        height:15vw
    }

    .container-axies{width: 100vw;}

    .App-axie{height: 15vw;}
}
@media (min-width: 1400px) {
    .calculator-section,
    .card-axies{width: 28vw;}

    .cards-left-section,
    .cards-right-section{width: 35vw;}

    .calculator-container{margin-top: -1%;}

    .cards-left-container,
    .cards-right-container{
        /* background-color: #462D17; */
        width: 10vw;
        height: 15vw;
        border-radius: 5px;
    }

    .cards-left-section img,
    .cards-right-section img {
        height:12vw
    }

    .container-axies{
        width: 95vw;
        height: 19vw;
    }

    .App-axie{height: 9vw;}
}
/*======================= Media Query =======================*/