.calculator-info{
    background-color: rgba(0, 0, 0, 0.5);
}

.calculator-section .card{
    background-color: #462D17 !important;
}

.calculator-button-advance button{
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-body-content,
.card-footer-content{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 2%;
}

.calculator-section .card .btn:hover{transform: scale(1.03)}
.calculator-section .card .btn:active{transform: scale(1.05)}

.text-dexcription span,
.calculator-section .card-header h3,
.calculator-section .card-footer h3{
    font-family: 'Roboto Slab', serif;
    color: wheat;
    cursor: default;
}

.calculator-button-advance button,
.calculator-section .card-body button,
.calculator-section .card-footer{
    font-family: 'Roboto Slab', serif;
}

.calculator-button-advance button,
.calculator-section .card-body button,
.calculator-section .card-footer button{
    color: #462D17;
    background-color: wheat;
}

.btn-simple{width: 100% !important;}

/*======================= media_query =======================*/
@media (max-width: 500px) {
    .text-dexcription{
        height: 10vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{font-size: 2.8vw;}

    .card-body-content,
    .card-footer-content{height:20vw;}

    .card-body-simple{height: 10vw !important}

    .calculator-section .card-header h3{font-size: 3.7vw !important;}
    
    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 2.8vw !important;}

    .calculator-section .card .btn{
        width: 25vw;
        height: 10vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 90vw;}

    .App-axie{height: 25vw;}

    .card-axies{margin-bottom: 5%;}

    .calculator-section .card-body button,
    .calculator-section .card-footer button{
        font-size: 2.5vw !important;
    }

    .calculator-section .card-header img,
    .calculator-section .card-body img {
        width: 3.5vw;
        height: 3.5vw;
    }

    .calculator-section .card-footer img {
        width: 6.5vw;
        height: 6.5vw;
    }
}
@media (min-width: 500px) {
    .text-dexcription{
        height: 10vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{font-size: 2.8vw;}

    .card-body-content,
    .card-footer-content{height:20vw;}

    .calculator-section .card-header h3{font-size: 3.7vw !important;}
    
    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 2.8vw !important;}

    .calculator-section .card .btn{
        width: 25vw;
        height: 10vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 90vw;}

    .App-axie{height: 25vw;}

    .card-axies{margin-bottom: 5%;}

    .calculator-section .card-body button,
    .calculator-section .card-footer button{
        font-size:2.7vw !important;
    }

    .calculator-section .card-header img,
    .calculator-section .card-body img {
        width: 5vw;
        height: 5vw;
    }

    .calculator-section .card-footer img {
        width: 6.5vw;
        height: 6.5vw;
    }
}
@media (min-width: 768px) {
    .text-dexcription{
        height: 8vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{font-size: 2.2vw;}

    .card-body-content,
    .card-footer-content{height:15vw;}

    .calculator-section .card-header h3{font-size: 2.8vw !important;}
    
    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 2vw !important;}

    .calculator-section .card .btn{
        width: 17vw;
        height: 7vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 60vw;}

    .calculator-section .card-body button,
    .calculator-section .card-footer button{
        font-size:1.8vw !important;
    }

    .calculator-section .card-header img,
    .calculator-section .card-body img {
        width: 2.5vw;
        height: 2.5vw;
    }

    .calculator-section .card-footer img {
        width: 4.5vw;
        height: 4.5vw;
    }
    
}
@media (min-width: 992px) {
    .text-dexcription{
        height: 6vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{font-size: 2vw;}

    .card-body-content,
    .card-footer-content{height:10vw;}

    .calculator-section .card-header h3{font-size: 2.1vw !important;}
    
    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 1.5vw !important;}

    .calculator-section .card .btn{
        width: 13vw;
        height: 5vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 45vw;}

    .calculator-section .card-body button,
    .calculator-section .card-footer button{
        font-size:1.4vw !important;
    }

    .calculator-section .card-footer img {
        width: 3.5vw;
        height: 3.5vw;
    }
}
@media (min-width: 1200px) {
    .text-dexcription{
        height: 4vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{font-size: 1.5vw;}

    .calculator-section .card-header h3{font-size: 1.6vw !important;}

    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 1.2vw !important;}

    .calculator-section .card .btn{
        width: 10vw;
        height: 4vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 35vw;}

    .calculator-section .card-body button,
    .calculator-section .card-footer button{
        font-size:.95vw !important;
    }

    .cards-left-section img,
    .cards-right-section img {
        height:15vw
    }

    .container-axies{width: 100vw;}

    .App-axie{height: 15vw;}

    .calculator-section .card-header img,
    .calculator-section .card-body img {
        width: 2vw;
        height: 2vw;
    }

    .calculator-section .card-footer img {
        width: 2.5vw;
        height: 2.5vw;
    }
}
@media (min-width: 1400px) {
    .text-dexcription{
        height: 3.5vw;
        margin-bottom: 1%;
    }

    .text-dexcription span{
       /*  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); */
        font-size: 1.2vw;
    }

    .card-body-content,
    .card-footer-content{height:6vw;}

    .calculator-section .card-header h3{font-size: 1.5vw !important;}

    .calculator-section .card-body h3,
    .calculator-section .card-footer h3{font-size: 1vw !important;}

    .calculator-section .card .btn{
        width: 9vw;
        height: 3vw;
        padding: 0 !important
    }

    .calculator-section,
    .card-axies{width: 32vw;}

    .cards-left-section,
    .cards-right-section{width: 35vw;}

    .calculator-container{margin-top: -1%;}

    .cards-left-container,
    .cards-right-container{
        width: 10vw;
        height: 15vw;
        border-radius: 5px;
    }

    .cards-left-section img,
    .cards-right-section img {
        height:12vw
    }

    .container-axies{
        width: 95vw;
        height: 19vw;
    }

    .App-axie{height: 9vw;}

    .calculator-section .card-header img,
    .calculator-section .card-body img {
        width: 1.8vw;
        height: 1.8vw;
    }

    .calculator-section .card-footer img {
        width: 2.2vw;
        height: 2.2vw;
    }
}
/*======================= Media Query =======================*/