.calculator-container .card-header h3{
    font-family: 'Roboto Slab', serif;
    color: #462D17;
}

.calculator-container .card-body button,
.calculator-container .card-footer select,
.calculator-container .card-footer option{
    font-family: 'Roboto Slab', serif;
}
.calculator-container .card-footer select,
.calculator-container .card-footer option{
    color: #462D17;
    background-color: wheat;
}