.nav-title {
    font-family: 'Roboto Slab', serif;
    cursor: default;
}

.container-nav ul, li{
  padding: 0;
  list-style-type: none;
}
.container-nav a{
  text-decoration: none;
  color: white;
}

.nav-title {margin-bottom: 0!important;}

.container-nav nav p, .container-nav nav span{
  font-family: 'Roboto Slab', serif;
  cursor: default;
}

/*======================= media_query =======================*/
@media (max-width: 500px) {
  .container-nav img{
    width: 10vw; 
    /* height: 3vw; */
  }

  .nav-title {font-size: 3vw;}
  .container-nav nav p, .container-nav nav span{
    font-size: 2vw;
    padding-top: 1%;
  }
}
  @media (min-width: 500px) {
    .container-nav img{
      width: 10vw; 
      /* height: 3vw; */
    }
    
    .nav-title {font-size: 3vw;}
    .container-nav nav p, .container-nav nav span{
      font-size: 2vw;
      padding-top: 1%;
  }
}
  @media (min-width: 768px) {
    .container-nav img{
      width: 7vw; 
      /* height: 3vw; */
    }

    .nav-title {font-size: 2vw;}
  }
  @media (min-width: 992px) {
    .nav-title {font-size: 2vw;}
  }
  @media (min-width: 1200px) {
    .container-nav img{
      width: 4vw; 
      /* height: 3vw; */
    }
  }
  @media (min-width: 1400px) {
    

    .nav-title {
      margin-bottom: 0;
      font-size: 1vw;
    }
    .container-nav nav p, .container-nav nav span{
      font-size: .8vw;
      padding-top: 1%;
    }
  }
  /*======================= Media Query =======================*/