.App {
  height: 100vh;
  text-align: center;
  background-image: url(https://cdn.axieinfinity.com/landing-page/_next/static/images/cloud-ring-b9996e3e8fe9b463920384977b0d854c@1x.webp); 
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
}

.App-header {
  /* background: #462D17; */
  /* width: 70vw; */
  background: rgba(0, 0, 0, 0.452);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/*======================= media_query =======================*/
@media (max-width: 500px) {
  .App {background-size: 250% 110%;}

  .App-header {height: 12vw;}
}
@media (min-width: 500px) {
  .App {background-size: 250% 110%;}

  .App-header {height: 15vw;}
}
@media (min-width: 768px) {
  .App {background-size: 150% 110%;}

  .App-header {height: 8vw;}
}
@media (min-width: 992px) {
  .App {background-size: 100%;}
}
@media (min-width: 1200px) {
  .App-header {height: 5vw;}
}
@media (min-width: 1400px) {
  .App-header {height: 4vw;}
}
/*======================= Media Query =======================*/
