.App {
  height: 101vh;
  text-align: center;
  background-image: url(https://cdn.axieinfinity.com/landing-page/_next/static/images/cloud-ring-b9996e3e8fe9b463920384977b0d854c@1x.webp); 
  background-size: 100%; 
  /* transform-origin: 50% 20%; 
  transform: translate(-50%, 0%); */
}

.App-header {
  background-image: url("https://cdn.axieinfinity.com/landing-page/_next/static/images/navbar-ccacca9c656f799b3a24455d53269b60@1x.webp");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*======================= media_query =======================*/
@media (max-width: 500px) {
  .App-header {
    background-size: 350% 80%;
    height: 15vw;
    margin-top: -1.5%;
  }
}
@media (min-width: 500px) {
  .App-header {
    background-size: 350% 80%;
    height: 20vw;
    margin-top: -2%;
  }
}
@media (min-width: 768px) {
  .App-header {
    background-size: 100% 45%;
    height: 20vw;
    margin-top: -6%;
  }
}
@media (min-width: 992px) {
  .App-header {
    background-size: 100% 35%;
    height: 20vw;
    margin-top: -7%;
  }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
  .App-header {
    background-size: 85% 80%;
    height: 4vw;
    margin-top: -.5%;
  }
}
/*======================= Media Query =======================*/
