.App {
  height: 101vh;
  text-align: center;
  background-image: url(https://cdn.axieinfinity.com/landing-page/_next/static/images/cloud-ring-b9996e3e8fe9b463920384977b0d854c@1x.webp); 
  background-size: 100%; 
  /* transform-origin: 50% 20%; 
  transform: translate(-50%, 0%); */
}

.App-header {
  background-image: url("https://cdn.axieinfinity.com/landing-page/_next/static/images/navbar-ccacca9c656f799b3a24455d53269b60@1x.webp");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-size: 1440px 64px;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: -1%;
  color: white;
}
